.sidebar {
    width: 200px;
    background-color: #f0f0f0;
    padding: 1rem;
    border-right: 1px solid #eee;
  }
 
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
 
  .sidebar li {
    margin-bottom: 0.5rem;
  }
 
  .sidebar li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 0.5rem;
    border-radius: 5px;
  }
 
  .sidebar li a:hover {
    background-color: #e0e0e0;
  }